<!DOCTYPE html>
<html lang="en">
<head>
    <title>Do Never Marry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Don't ever get married and don't ever let your friends get married either.">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>
<body>
    <div class="page-header">
        <h1>DON'T EVER MARRY</h1>
    </div>

    <div class="row-fluid">
    <div class="span8 offset2 bot_border">
        <div class="center_items">
            <div class="legend-overlap">Because...</div>
        </div>
        <div class="center_items">
            <p id="the_reason"><%= @random_reason.text %></p>
        </div>
        <div class="center_items" id="randomButton">
            <button class="btn">I need another...</button>
        </div>
        <div class="spacer"></div>
    </div>
    </div>

    <div class="row-fluid">
    <div class="span8 offset2 bot_border">
        <form class="form-horizontal" method="post" action="/">
            <div class="center_items">
                <div class="legend-overlap">Help a bro out:</div>
            </div>
            <div class="center_items">
                <input type="text" class="reason_entry" name="text" placeholder="Do never marry because...">
            </div>
            <div class="center_items sm-pad-top">
                <button type="submit" class="btn">Submit</button>
            </div>
        </form>
    </div>
    </div>

    <div class="row-fluid">
    <div class="span8 offset2 footer">
        © 2012 <a href="http://twitter.com/poemdexter">@poemdexter</a>
    </div>
    </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $("div#randomButton").click(function() {
            $("#the_reason").animate({opacity:0}, function() {
                $.get("/getrandom",
                    function(data) {
                        $("#the_reason")
                        .text(data)
                        .animate({opacity:1});
                    }
                );
            });
        });
    });
</script>
</body>
</html>